#Python
*.pyc
dist/**
*.egg-info/**
build/**
venv/
server/lib

#IntelliJ
.idea
*.iml

#Other
.DS_Store
tmp
*.swp
*.tmp
*.bak
*.swp
*.launch
*~

#NodeJS
node_modules
bower_components

#Javascript 
*.css

#Secret file
server/secrets.py
