<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
    <style>
        @keyframes roll {
            0% {
                transform: rotate(0deg) scale(1);
            }
            50% {
                transform: rotate(180deg) scale(3);
            }
            100% {
                transform: rotate(360deg) scale(1);
            }
        }
        .spinEffect {
            animation: roll 0.5s 1 linear;
        }
    </style>
</head>

<body id="page-top" class="index">
<div class="container-fluid">

    <h1><a href="/">Buttons-clicker</a></h1>

    <h2>{% block title %}{% endblock %}</h2>

    <div id="content">{% block content %}{% endblock %}</div>
</div>
</body>

</html>
