{% extends "base.html" %}

{% block title %}Buttons{% endblock %}
{% block content %}
<audio id="sound" src="static/sound.mp3"></audio>
<script language="JavaScript">
    var ref = new Firebase('https://amber-heat-6428.firebaseio.com/');
    var clicks = ref.child("clicks");
</script>
    <table class="table table-striped">
    <thead>
    <tr><td>#</td><td>Button</td><td>clicks</td></tr>
    </thead>
    <tbody>
    {% for click in clicks %}
    <tr>
        <script language="JavaScript">
            clicks.child("{{click.button}}").on("value", function(snapshot) {
                var value = snapshot.val();
                if (value == null) {
                    return;
                }
                var element = document.getElementById('count{{ click.button}}');
                var oldValue = element.innerHTML;
                var newValue = value.clicks.toString();
                if (oldValue != newValue) {
                    element.innerHTML = newValue;
                    document.getElementById('sound').play();
                    $element = $('#count{{ click.button}}');
                    $element.removeClass("spinEffect");
                    setTimeout(function(){$element.addClass("spinEffect")},0);
                }
            });
        </script>
        <td>{{ loop.revindex }}</td>
        <td>{{ click.button }}</td>
        <td><span id="count{{ click.button }}">{{ click.count }}</span></td>
    </tr>
    {% endfor %}

    </tbody>
</table>
{% endblock %}

